 .u-section-1 {
  background-image: none;
  min-height: 1265px;
}

.u-section-1 .u-video-1 {
  height: 698px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 12px auto 0 calc(((100% - 1140px) / 2) + 91px);
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 calc(((100% - 1140px) / 2) + 270px);
  padding: 8px 33px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 129px calc(((100% - 1140px) / 2) + -39px) 50px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 336px;
  grid-gap: 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-1 {
  width: 190px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  text-align: left;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-2 {
  width: 190px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  text-align: left;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-3 {
  width: 190px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  text-align: left;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-4 {
  width: 190px;
  transform-origin: left center 0px;
  height: 8px;
  text-align: left;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  text-align: left;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2) + 70px);
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 277px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 521px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 558px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1019px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 677px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 643px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 299px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 299px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-2 .u-text-5 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 299px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-2 .u-text-7 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 247px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 247px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1082px;
}

.u-section-3 .u-shape-1 {
  height: 447px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 960px;
  height: 620px;
  margin: -344px auto 0;
}

.u-section-3 .u-group-1 {
  width: 405px;
  min-height: 471px;
  background-image: none;
  margin: -329px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 600;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-3 .u-group-2 {
  min-height: 392px;
  width: 539px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -255px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  margin: 0 1px;
}

.u-section-3 .u-text-5 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  margin: 20px 0 0 1px;
}

.u-section-3 .u-text-6 {
  margin: 19px 1px 0;
}

.u-section-3 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1103px;
  }

  .u-section-3 .u-image-1 {
    width: 850px;
    height: 589px;
    margin-right: calc(((100% - 940px) / 2) + 28px);
  }

  .u-section-3 .u-group-1 {
    width: 342px;
    min-height: 563px;
    margin-top: -298px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-group-2 {
    min-height: 411px;
    width: 495px;
    margin-top: -350px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1403px;
  }

  .u-section-3 .u-image-1 {
    width: 643px;
    height: 484px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 398px;
    margin-top: 354px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-3 .u-group-2 {
    min-height: 414px;
    width: 453px;
    margin-top: -852px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1368px;
  }

  .u-section-3 .u-image-1 {
    width: 490px;
    height: 389px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 467px;
    margin-top: 349px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-group-2 {
    min-height: 386px;
    width: 422px;
    margin-top: -896px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1218px;
  }

  .u-section-3 .u-shape-1 {
    height: 299px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 270px;
    margin-top: -196px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 508px;
    margin-top: 291px;
  }

  .u-section-3 .u-group-2 {
    min-height: 301px;
    width: 260px;
    margin-top: -855px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1300px;
}

.u-section-4 .u-text-1 {
  width: 812px;
  font-size: 3.75rem;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-4 .u-line-1 {
  width: 150px;
  transform-origin: left center;
  height: 16px;
  margin: 30px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 19px));
  min-height: 942px;
  grid-gap: 38px;
}

.u-section-4 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-style: normal;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-style: normal;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-style: normal;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-4 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-4 .u-text-11 {
  font-style: normal;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-5 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-4 .u-text-13 {
  font-style: normal;
  margin: 25px 0 0;
}

.u-section-4 .u-btn-6 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 777px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1353px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  width: 428px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 76px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 42px));
  min-height: 970px;
  grid-gap: 63px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-1 {
  width: 183px;
  height: 183px;
  background-image: url("images/cc24004b-3648-459a-a427-92b968bd416b.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-2 {
  width: 183px;
  height: 183px;
  background-image: url("images/8fd61bc0-5bae-1121-8583-3332d09cf9eb.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-3 {
  width: 183px;
  height: 183px;
  background-image: url("images/rttyrrt.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-4 {
  width: 183px;
  height: 183px;
  background-image: url("images/uuyu-min.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-9 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-10 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-5 {
  width: 183px;
  height: 183px;
  background-image: url("images/ffff.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-11 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-12 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 30px 32px;
}

.u-section-5 .u-image-6 {
  width: 183px;
  height: 183px;
  background-image: url("images/857e458e-9e41-49d2-b73d-78302d0b9b3d.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -38px auto 0;
}

.u-section-5 .u-text-13 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-5 .u-text-14 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-5 .u-text-15 {
  letter-spacing: 0px;
  width: 680px;
  font-size: 0.875rem;
  margin: 30px auto 60px;
}

.u-section-5 .u-btn-7 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 42px));
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 31.5px));
    min-height: 1379px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-15 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3183px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 19px;
  }

  .u-section-5 .u-text-15 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 752px;
}

.u-section-6 .u-shape-1 {
  width: 570px;
  height: 526px;
  margin: 226px auto 0 260px;
}

.u-section-6 .u-image-1 {
  width: 702px;
  height: 499px;
  margin: -688px auto 0 0;
}

.u-section-6 .u-group-1 {
  width: 590px;
  min-height: 384px;
  background-image: none;
  margin: -255px 0 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: 563px;
    margin-right: 117px;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    width: 655px;
    height: 488px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -244px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-6 .u-shape-1 {
    width: 600px;
    height: 581px;
    margin-top: 214px;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    width: 562px;
    height: 434px;
    margin-top: -731px;
  }

  .u-section-6 .u-group-1 {
    min-height: 393px;
    margin-top: -190px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-6 .u-shape-1 {
    width: 461px;
    height: 598px;
    margin-left: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 446px;
    height: 369px;
    margin-top: -748px;
  }

  .u-section-6 .u-group-1 {
    width: 446px;
    min-height: 440px;
    margin-top: -125px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-6 .u-shape-1 {
    height: 559px;
    width: 276px;
    margin-top: 188px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    width: 289px;
    height: 218px;
    margin-top: -683px;
  }

  .u-section-6 .u-group-1 {
    width: 301px;
    min-height: 471px;
    margin: -50px auto 44px 13px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 716px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 301px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-7 .u-text-2 {
  margin: 20px 1px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 301px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-7 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 334px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 635px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 276px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-5 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
  min-height: 1055px;
}

.u-section-8 .u-image-1 {
  height: 598px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-shape-1 {
  height: 557px;
  width: 340px;
  margin: -180px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-group-1 {
  min-height: 395px;
  width: 537px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -496px auto 0 calc(((100% - 1140px) / 2) + 66px);
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 50px 30px 45px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 1px;
}

.u-section-8 .u-text-2 {
  font-size: 4.25rem;
  font-family: Montserrat, sans-serif;
  margin: 16px 0 0 1px;
}

.u-section-8 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 22px 1px 0;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-group-2 {
  width: 457px;
  min-height: 534px;
  margin: -456px calc(((100% - 1140px) / 2)) 61px auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-8 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 1051px;
  }

  .u-section-8 .u-image-1 {
    height: 570px;
    margin-top: 1px;
  }

  .u-section-8 .u-shape-1 {
    height: 591px;
    width: 242px;
    margin-top: -199px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-group-1 {
    min-height: 441px;
    width: 442px;
    margin-top: -542px;
    margin-left: calc(((100% - 940px) / 2) + 45px);
  }

  .u-section-8 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-group-2 {
    width: 383px;
    min-height: 576px;
    margin-top: -459px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1446px;
  }

  .u-section-8 .u-image-1 {
    height: 564px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: -195px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-group-1 {
    width: 488px;
    margin-top: -536px;
    margin-left: calc(((100% - 720px) / 2) + 69px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-group-2 {
    width: 561px;
    min-height: 463px;
    margin-top: 50px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1490px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 52px);
  }

  .u-section-8 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-group-2 {
    width: 488px;
    min-height: 504px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1439px;
  }

  .u-section-8 .u-image-1 {
    height: 427px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: -128px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-group-1 {
    min-height: 362px;
    width: 309px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-group-2 {
    width: 309px;
    min-height: 619px;
    margin-top: 39px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-container-layout-2 {
    padding: 24px 20px;
  }
} .u-section-9 {
  background-image: none;
  min-height: 822px;
}

.u-section-9 .u-image-1 {
  height: 237px;
  margin-top: 585px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: -742px auto 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 324px;
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 17px 151px 0 0;
}

.u-section-9 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-9 .u-btn-1 {
  padding: 0;
}

.u-section-9 .u-layout-cell-2 {
  background-image: none;
  min-height: 275px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-text-5 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 618px;
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-9 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-9 .u-form-1 {
  height: 347px;
  margin: 20px auto 0 0;
}

.u-section-9 .u-form-group-1 {
  margin-left: 0;
}

.u-section-9 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-9 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 61px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-right: NaNpx;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 510px;
  }

  .u-section-9 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 1319px;
  }

  .u-section-9 .u-image-1 {
    height: 349px;
    margin-top: 970px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1239px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1291px;
  }

  .u-section-9 .u-image-1 {
    height: 360px;
    margin-top: 930px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1250px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 500px;
}